extends layout

block content
  h1 Recipe: #{recipe.name}
  hr
  .row
    .col-sm-6
      h2 Ingredients
      each ingredient in recipe.ingredients
        p #{ingredient}
      hr
      h2 Preparation Steps
      each step in recipe.steps
        p #{step}

  hr
  .row
    .col-sm-6
      p Cooking time #{recipe.bakingTime}